<VirtualHost *:80>
  RackBaseURI /yrapp/public
  RackBaseURI /anotherapp/public

  ServerName cijoe.yrcompany.com
  SetEnv PATH /path/to/git:/path/to/cijoe
  SetEnv RAILS_RELATIVE_URL_ROOT
  DocumentRoot /path/to/cijoe-passenger

  ErrorLog /path/to/cijoe-passenger/logs/ci-error_log
  CustomLog /path/to/cijoe-passenger/logs/ci-access_log combined

  PassengerMaxInstancesPerApp 1
  # set this higher than the total number of cijoe apps you have
  PassengerMaxPoolSize 20
</VirtualHost>
